/* Medium devices (tablets, 48em and up)*/
@media (min-width: 48em) {
	h1 {
	  font-size: 2.441em;
    }
}


.header{
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 151, 165);
    border-style: solid;
    border-color: black;
}

.title{
    border-style: solid;
    border-color: black;
    width: 80%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 3%;
    color:white;
}

.logo{
    max-width: 100%!important;
    max-height: 100%!important;
    background-size:contain;
    border-style: solid;
    border-color: black;
    width: 20%;
    height: 100%;
    float: left;
}

.active{
    color: white!important;
    background-color: rgb(0, 151, 165);
    border-radius: 5PX;
    font-weight:  bold;
}

h2 {
	font-size: 1.6em!important;
}

body {
    font-size: 100% !important;
    background-color: rgb(0, 151, 165)!important;
}

.Container{
    /* empty */
}

.page-title{
    height: 15vh;
    background-color: white;
    padding: 15px;
    text-align: center;
}

.details{
    padding: 5px;
    margin: auto;
    height: 55vh;
    width: 70%;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
}


.caption_detials{
    height: 100%;
    float: left;
    font-family: "Arial";
    font-size: 2em;
    margin-left: 2vw;
}

.caption{
    height: 100%;
    float: left;
    font-family: "Arial";
    font-weight: bold;
    font-size: 2em;
    margin-left: 2vw;
    text-decoration: underline;
}

i {
    border: solid black;
    border-width: 0 20px 20px 0;
    display: inline-block;
    width: 5em !important;
    height: 5em !important;
    margin-bottom: 1%;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

/*Grades Page*/
.grades{
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    background-color: white;
}

/* Program Page */
.pie-chart{
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    width: 70%; 
    height: 400px; 
    margin: auto;
}

.prog_change_table{
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    width: 70%;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 2%;
}

.select-menu{
    width: 60%;
    display: block;
    text-align: center;
    margin-left: 20%;
    margin-right: 2%; 
    border-style: solid;
    border-color: black;
}

.courses-title{
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 15px;
    text-align: center;
}

.courses-table{
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    width: 70%;
    height: 40vh;
    overflow: scroll;
    margin: auto;
    background-color: white;
}



.course{
    margin: 1%;
    width: 8em;
    display: inline-block;
    border-style: solid;
    border-radius: 5%;
    border-color: black;
    text-align: center;
    background-color: white!important;
}

.preq{
    height: 100%;
    width: 100%;
}

.level{
    width: 100%;
    display: inline-block;
    border-style: solid;
    border-color: black;
}


.course-code{
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: underline;
}

.course-alt{
    color: Orangered;
    font-weight: bold;
}

.course-and{
    color: green;
    font-weight: bold;
}

.legend{
    height: 80%;
    width: 50%;
    margin: auto;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    border-color: grey;
}

/* Registration Page*/

.button-box{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    height: 100%;
    text-align: center;
}


/* Finance Menu */
.fee{
    width: 70%;
    margin: auto;
    margin-bottom: 5%;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    background-color: white;
}

/*Slideshow*/
#slideshow{
    width: 35%;
    height: 100%;
    float: left;
    border-style: solid;
    border-color: black;
    position:relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}



/* Slideshow and photo diplay styles*/


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}